html, body {
  margin: 1;
  padding: 1; 
  text-align: center
}

h4 {
  margin: 5px;
  padding: 1px;
}

h1 {
  margin: 5px;
  padding: 1px;
}

input {
  width: 40px;
}

.id {
 
}

.farm {
  width: 200px; 
  word-wrap: break-word;  
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

.jobs-div {
  width: 200px;
  padding: 6px;
  border-style: solid;
}

.jobs {
  display: inline-block;
  padding:1;
}

.job-row {
  padding-bottom: 1px;
  margin-bottom: 1px;
}

#game {


    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;

}

canvas {
   display: inline;
}


 
  
  #game-text {
    display: none;
  }

    
    h1 {font-family: 'Noto Sans TC', sans-serif;}
    
    p {
  font-family: "Times New Roman", Times, serif;
}
    
    input[type=text]:focus {
  border: 3px solid #555;
}
